<h1>Restablecimiento de contraseña</h1>
<hr />
<form action="/session/forget-password" method="post">
    Email: <input type="text" name="email"> <input type="submit" value="Restablecer contraseña"><br><br>
    <a href="/session/login" class="btn btn-success">Log in</a>
    <a href="/session/register" class="btn btn-primary">Sign up</a>
</form>