{{!-- {{#if user}} --}}
<div class="text-white d-flex flex-column justify-content-center align-items-center">
  {{!-- <h2 class="h2-title">Bienvenido, {{ user.first_name }} {{user.last_name}}!</h2> --}}
  {{!-- <p>Email: {{user.email}} rol: {{user.role}}</p> --}}
  
</div>
{{!-- {{/if}} --}}


<h2 class="h2-title">Products</h2>
  {{> table}}
</div>
