  <h1 class="text-white">Welcome to our E-commerce</h1>

<div class="d-flex justify-content-center align-items-center flex-column landing-page-text">
    <h2 class="text-white">Overview:</h2>
    <p class="text-white text-center mt-4">
         Welcome to our top-notch Ecommerce platform built with Node.js,
        Express, Handlebars, MongoDB, and WebSockets.
        Enjoy a secure and seamless online shopping experience.
        Our intuitive interface and innovative features provide
        confidence in every transaction. Explore a wide range of products
        and shop with ease. Join us and discover a new era in the world of Ecommerce.
    </p>
</div>
{{#if user}}
    <div>
        <div class="text-center landing-page-background">
            <p class="text-white mb-2">Hi, {{user.first_name}}!</p>
            <p class="text-white mb-4">Thanks for loggin in, Now discover our products</p>
            <a href="/products" class="btn btn-primary">See Our Products</a>
        </div>
    </div>
    {{else}}
    <div class="text-center landing-page-background">
    <h2 class="text-white mb-2">Login or Register:</h2>
    <p class="text-white mb-4">Please log in to your account or register to start shopping.</p>
    
    <div>
        <a href="/session/login" class="btn btn-success">Log in</a>
        <a href="session/register" class="btn btn-primary">Sign up</a>
    </div>
{{/if}}
</div>

