@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url('https://static.vecteezy.com/system/resources/previews/007/120/278/original/space-galaxy-background-with-shining-stars-and-nebula-cosmos-with-colorful-milky-way-galaxy-at-starry-night-illustration-free-vector.jpg'); */
    background-image: url('https://wallpaperaccess.com/full/31367.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 60%;
}

.mainTitle{
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #f3f3f3;
}

.generalContainer{
    background-color: #e6e2dfab;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.estiloTexto{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.idProducto{
    font-size: 40px;
    align-self: center;
    margin-right: 30px;
}


.containerProductWithId{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 95%;
    border-bottom: 1px solid white;
    padding: 10px;
}

.containerProductWithId:last-child{
    border-bottom: 0;
}


.containerProductInfo{
    width: 90%;
    height: 210px;
    align-self: center;
}


.formAndProductsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 15px;
    width: 440px;
    height: 365px;
    padding: 15px;
    border: 4.5px solid rgb(226, 226, 226);
    position: sticky;
    background-position: 50% 50%;
    border-radius: 10px;
    margin: 20px;
    background-color: #f3f3f3c0;
}

.tituloForm{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    align-self: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.formLabel{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.inputForm{
    border: none;
    border-radius: 4px;
}

.buttonForm{
    width: 130px;
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(44, 108, 160);
    color: rgb(255, 255, 255);
    align-self: center;
    font-size: 15px;
    border: none;
}

.containerRealTimeProducts{
    background-color: #e6e2dfaf;
    border-radius: 35px;
    margin: 0 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
    width: 600px;
}

.deleteButtonProduct{
    opacity: 1;
    align-self: center;
    height: 35px;
    width: 80px;
    background-color: rgb(209, 64, 64);
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
}