<nav class="navbar navbar-dark navbar-expand-lg bg-dark mb-4">
    <div class="container-fluid d-flex justify-content-evenly align-items-center">
        <div>
            <a href="/" class="navbar-brand">E-commerce</a>
        </div>
        <ul class="d-flex justify-content-between gap-5">
            <li class="nav-item mt-2"><a href="/" class="text-white text-decoration-none">Inicio</a></li>
            <li class="nav-item mt-2"><a href="/products" class="text-white text-decoration-none">Products</a></li>
            <li class="nav-item mt-2"><a href="/products/realtimeproducts" class="text-white text-decoration-none">Real Time Products</a></li>
            <li class="nav-item mt-2"><a href="/products/chat" class="text-white text-decoration-none">Chat</a></li>
        </ul>
        <div>
            <a class="btn btn-light" href="/products/carts/{{user.cart}}"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div>
            {{#if user}}
            <a class="nav-item mt-2 text-white text-decoration-none" href="/session/logout">Log out</a>
            <a class="nav-item mt-2 text-white text-decoration-none" href="/session/current">Current</a>
            {{else}}
            <a class="nav-item mt-2 text-white text-decoration-none m-4" href="/session/login">Log in</a>
            <a class="nav-item mt-2 text-white text-decoration-none" href="/session/register">Sign up</a>
            {{/if}}
        </div>
    </div>
 </nav>